build/
**/build/
**/Debug/
**/Release/
**/.vs/
**/x64/LIB*
**/msvc/LIB *
extlibs/lib/*
src/.cproject
.project
.cproject
\.vscode/
**/.DS_Store
*.user
env.json
dependency/lib
src/FossLibrary/poco/lib64/*
src/FossLibrary/poco/Foundation/src/pocomsg.rc
src/FossLibrary/poco/Foundation/src/pocomsg.h
