[submodule "dependency/curl"]
	path = dependency/curl
	url = https://github.com/curl/curl.git
[submodule "dependency/mbedtls"]
	path = dependency/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "dependency/json"]
	path = dependency/json
	url = https://github.com/nlohmann/json.git
[submodule "dependency/paho.mqtt.c"]
	path = dependency/paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c.git
