{
	"WORKSPACE_ID": "<workspace-id>",
	"CONVERSATION_USERNAME": "<conversation-username>",
	"CONVERSATION_PASSWORD": "<conversation-password>",
	"SPEECH_TO_TEXT_USERNAME":"<stt-username>",
	"SPEECH_TO_TEXT_PASSWORD":"<stt-password>",
	"TEXT_TO_SPEECH_USERNAME":"<tts-username>",
	"TEXT_TO_SPEECH_PASSWORD":"<tts-password>"		
}
